body {
    width: auto;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    direction: rtl;
    text-align: right;
}

.lg-space {
    height: 0;
    padding: 40px;
}

.md-space {
    height: 0;
    padding: 30px;
}

.sm-space {
    height: 0;
    padding: 20px;
}

.login {
    background-color: white;
    padding: 25px 15px;
    border-radius: 7px 7px;
}

.ui.celled.table tr td:first-child,
.ui.celled.table tr th:first-child,
.ui.celled.table tr td,
.ui.celled.table tr th
{
    border-right: none;
    border-left: 1px solid rgba(34,36,38,.1);
}

.ui.celled.table tr td:last-child,
.ui.celled.table tr th:last-child
{
    border-right: none;
    border-left: none;
}

.arabic.list {
    text-align: right;
}

.ui.message#message .list:not(.ui) li
{
    margin: 0 1em .3em 0;
}

.ui.message#message .list:not(.ui) li:before
{
    right: -1em;
    left: 0;
}